<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibUsb.Common" version="2.2.10-r112" targetFramework="net461" />
  <package id="LibUsbDotNet" version="2.2.10-r112" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="Polly" version="6.1.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="4.0.0" targetFramework="net461" />
</packages>